body {
  background-color: #3b1e54;
  font-family: "Merriweather", serif;
  color: #fdffab;
  background-image: url("https://images.pexels.com/photos/8715631/pexels-photo-8715631.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: 50%;
  background-repeat: repeat;
}
a {
  color: #dadb9f;
}
.container {
  margin: 100px auto;
  max-width: 800px;
}
h1 {
  color: rgba(227, 228, 28, 1);
  font-weight: 800;
  font-size: 34px;
  text-align: center;
}
header {
  margin-bottom: 30px;
}
.form_container {
  padding: 15px 20px;
  background-color: #9575de;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 30px 0px rgb(214, 109, 214);
}
form {
  display: flex;
}
.hint {
  line-height: 1.5;
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.6;
}
.input_element {
  padding: 16px;
  border: 1px solid #3b1e54;
  width: 80%;
  font-size: 16px;
  border-radius: 20px;
  line-height: 20px;
  color: #3b1e54;
}
.submit_button {
  margin-left: 10px;
  background: #808836;
  color: #3b1e54;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}
.recipe {
  font-size: 16px;
  background-image: url("https://media.istockphoto.com/id/1902778637/photo/vintage-graph-paper-background.jpg?s=612x612&w=0&k=20&c=BM-K5pUZh8yGhx34YAKs8IlDix22LEF7F-TOJNnAgTU=");
  color: #141411;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid rgb(36, 23, 65);
  box-shadow: 0px 4px 30px 0px rgb(214, 109, 214);
}
.hidden {
  display: none;
}
footer {
  text-align: center;
  margin-top: 30px;
  background-color: #3b1e54;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
